// COLORS
$color-primary: #55c57a;
$color-primary--light: #7ed56f;
$color-primary--dark: #28b485;

$color-secondary--light: #9ec2f5;
$color-secondary--dark: #1561cb;

$color-tertiary--light: #ffa743;
$color-tertiary--dark: #c77509;

$color-grey--dark: #555;
$color-grey--light-1: #f7f7f7;
$color-grey--light-2: #e7e7e7;

$color-white: #fff;
$color-black: #000;

// FONTS
$font-size-default: 1.6rem;

// GRIDS
$grid-width: 114rem;
$grid-row-gap: 4rem;
$grid-col-gap: 6rem;
