*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0%;
    -webkit-transform: translateX(4rem);
            transform: translateX(4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0%;
    -webkit-transform: translateX(4rem);
            transform: translateX(4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0%;
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0%;
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0%;
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0%;
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #555;
  padding: 2rem;
}

.heading-1 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 6.4rem;
}

.heading-1--main {
  display: block;
  font-size: 6.4rem;
  letter-spacing: 2.4rem;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.heading-1--sub {
  display: block;
  font-size: 2rem;
  letter-spacing: 1rem;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.heading-2 {
  display: inline-block;
  font-size: 3.6rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.heading-2:hover {
  -webkit-transform: skewY(2deg) scale(1.1);
          transform: skewY(2deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-3 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3.2rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 3.2rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.6rem;
}

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.6rem 3.2rem;
  border-radius: 3.2rem;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  position: relative;
}

.btn:hover {
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.8);
          transform: scaleX(1.4) scaleY(1.8);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  color: #555;
  background-color: #fff;
}

.btn--white::after {
  background-color: #fff;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 3.2rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn--animated {
  -webkit-animation: moveInBottom 2s ease-out;
          animation: moveInBottom 2s ease-out;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 0.4rem 0.8rem;
}

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn-text:active {
  -webkit-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.composition {
  position: relative;
}

.composition__photo {
  width: 55%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  position: absolute;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  outline-offset: 1.6rem;
  z-index: 10;
}

.composition__photo--p1 {
  left: 0;
  top: 2rem;
}

.composition__photo--p2 {
  right: 0rem;
  top: 6rem;
}

.composition__photo--p3 {
  left: 20%;
  top: 14rem;
}

.composition__photo:hover {
  outline: 1rem solid #55c57a;
  -webkit-transform: scale(1.2) translateY(-2rem);
          transform: scale(1.2) translateY(-2rem);
  z-index: 20;
  -webkit-box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.5);
}

.composition:hover .composition__photo:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 28rem;
  font-size: 1.4rem;
  padding: 2.4rem;
  text-align: center;
  border-radius: 2px;
  -webkit-box-shadow: 0, 1.5rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0, 1.5rem 4rem rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.feature-box__icon {
  padding: 0.4rem 0;
  font-size: 4.4rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.feature-box:hover {
  -webkit-transform: translatey(-1.5rem) scale(1.05);
          transform: translatey(-1.5rem) scale(1.05);
}

.header {
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url(../img/hero.jpg);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
}

.header__logo-box {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.header__logo {
  height: 3.2rem;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  display: flow-root;
}

.row:not(:last-child) {
  margin-bottom: 4rem;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 *6rem) / 3);
}

.row .col-2-of-3 {
  width: calc(2 * (100% - 2 *6rem) / 3 + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-4 {
  width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem);
}

.row .col-3-of-4 {
  width: calc(3 * (100% - 3 *6rem) / 4 + 2 *6rem);
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 1.6rem;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 1.6rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url(../../img/nat-4.jpg);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/nat-4.jpg);
  -webkit-transform: skewY(-7deg) translate(0, -10rem);
          transform: skewY(-7deg) translate(0, -10rem);
}

.section-features > * {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}
/*# sourceMappingURL=main.css.map */