.feature-box {
  background-color: rgba($color-white, 0.8);
  min-height: 28rem;
  font-size: 1.4rem;
  padding: 2.4rem;
  text-align: center;
  border-radius: $border-radius-default;
  box-shadow: $box-shadow-container;
  transition: all 0.2s;

  @include respond(tablet-port) {
    padding: 1.8rem;
    max-width: 80%;
    margin: 0 auto;
    min-height: 22rem;
  }

  &__icon {
    padding: 0.4rem 0;
    font-size: 4.4rem;
    background-image: linear-gradient(
      to right,
      $color-primary--light,
      $color-primary--dark
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  &:hover {
    transform: translatey(-1.5rem) scale(1.05);
  }
}
