.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba($color-black, 0.8);
  backdrop-filter: blur(2px);
  z-index: 9999;

  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey--dark-3;
      text-decoration: none;
      font-size: 3.2rem;
      position: absolute;
      top: 2rem;
      right: 3.2rem;
      display: inline-block;
      transition: all 0.2s;
    }
    &:hover,
    &:active {
      color: $color-primary--dark;
    }
  }

  &__content {
    @include center-absolute;
    width: 80%;
    background-color: $color-grey--light-1;
    border-radius: $border-radius-default;
    box-shadow: $box-shadow-container;

    overflow: hidden;
    display: table;
    transform: translate(-50%, -50%) scale(0.2);
    transition: all 0.6s;

    @include respond(tablet-land) {
      width: 100%;
    }

    @include respond(tablet-port) {
      display: inline-block;
    }
  }

  &__left {
    display: table-cell;
    width: 33.33%;

    @include respond(tablet-port) {
      float: left;
      width: 100%;
    }
  }

  &__right {
    display: table-cell;
    width: 66.66%;
    vertical-align: middle;
    padding: 2.4rem 4.8rem;

    @include respond(tablet-land) {
      width: 100%;
    }

    @include respond(tablet-port) {
      display: inline-block;
      width: 100%;
    }
  }

  &__tour-image {
    display: block;
    width: 100%;

    @include respond(tablet-land) {
      width: 100%;
    }

    @include respond(tablet-port) {
      width: 49%;
      transform: scale(1.1);
      display: inline;
    }
  }

  &__info {
    font-size: $font-size-default;
  }

  &__text {
    column-count: 2;
    column-gap: 3.2rem;
    column-rule: 2px solid $color-grey--light-2;
    hyphens: auto;

    @include respond(tablet-land) {
      column-count: 1;
    }
  }
}
